# Dependencies
**/node_modules/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.venv/
**/venv/

# Environment files
**/.env

# Build outputs
**/dist/
**/build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
